# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# Jupter Notebooks
notebooks/
*.ipynb_checkpoints
*.ipynb
__pycache__/
*.pyc
*.pyo
*.pyd

# LangGraph
.langgraph_api/

# Environment
*.env
